.c__input-search-wrapper {
  display: flex;
  position: relative;
}

.c__input-search {
  padding: 1em 1.5em 1em 3em;
  border-radius: 2em;
  outline: none;
  width: 100%;
  border: thin solid var(--col__gray);
}

.c__input-search-icon.material-icons {
  position: absolute;
  left: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  color: var(--col__gray);
}
